.shipping-table {
  grid-column: span 2;
  direction: ltr;
}

.reverse .shipping-table {
  direction: rtl;
}

.scrol-here {
  overflow-y: scroll !important;
  max-height: 500px;
}
td {
  font-size: 14px;
}
